alabaster==0.7.12
appdirs==1.4.4
asgiref==3.4.1
Babel==2.9.1
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
Cython==0.29.23
Django==4.0.3
djongo==1.3.6
dnspython==2.2.1
docutils==0.17.1
esbonio==0.9.0
fonttools==4.29.1
gensim==4.1.2
gunicorn==20.1.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.2
instaloader==4.8.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.1.0
matplotlib==3.5.1
networkx==2.7.1
nltk==3.7
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
plotly==5.6.0
pydantic==1.8.2
pygls==0.11.3
Pygments==2.11.2
pymongo==3.12.1
pyparsing==3.0.7
pyspellchecker==0.6.3
python-dateutil==2.8.2
pytz==2021.3
regex==2022.3.2
requests==2.27.1
requests-oauthlib==1.3.1
scikit-fuzzy==0.4.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
smart-open==5.2.1
snowballstemmer==2.2.0
sonopy==0.1.2
soupsieve==2.3.1
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.2.4
tenacity==8.0.1
textblob==0.17.1
threadpoolctl==3.1.0
tqdm==4.63.0
tweepy==4.6.0
twython==3.9.1
typeguard==2.13.3
typing_extensions==4.1.1
tzdata==2021.5
urllib3==1.26.8
vader==0.0.3
vaderSentiment==3.3.2
whitenoise==6.0.0
wordcloud==1.8.1
zipp==3.7.0
