{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% load static %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Tables</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tables</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{% url 'main:analytics-by-topic' %}" class="btn btn-sm btn-neutral">New Query</a>
          <a href="#" class="btn btn-sm btn-neutral" id="generatePDF">Download Report</a>
          <button id="download-button" type="button" class="btn btn-sm btn-neutral">Download CSV</button>
        </div>
        
      </div>
    </div>
  </div>
</div>

      <div class="container-fluid mt--6">
        <div class="row" id="htmlContent">
          <div class="col">
            <div class="card bg-default shadow" >
              <h1 style="display: none;">Sentiment Analysis Report</h1>
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Summary for Topic: {{topic}}</h3>
                <p>
                  {% for row in summary %}
                   
                    <h4 style="color: white;">{{row}}</h4>
                  
                  {% endfor %}
                </p>
              </div>
              <div class="table-responsive">
                {% if pos is 0 and neg is 0 and neu is 0 %}
                <h2 style="color: red;">No results found. Try reducing search parameters</h2>
                {% endif %}
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">Positive</th>
                      <th scope="col" class="sort" data-sort="budget">Negative</th>
                      <th scope="col" class="sort" data-sort="status">Neutral</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="budget">
                        {{pos}}
                      </td>
                      <td class="budget">
                        {{neg}}
                      </td>
                      <td class="budget">
                        {{neu}}
                      </td>
                  </tbody>
                </table>
                
                <div style="display: none;">
                  The above sentiment analysis is performed on Twitter Data <br>
                  <ul>
                    <li>The data is extracted by the Twitter API </li>
                    <li>Sentiment Analysis Method: Vader Sentiment</li>
                  </ul>
                  <hr>
                  <br>
                  <p>- Report Generated by Project B2(beta)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

    
      
        

        <!-- Sentiment and Wordlcoud graphs -->

        <div class="row">
          <div class="col-xl-6">
            <div class="card">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                        <h5 class="h3 mb-0">Sentiment Count</h5>
                      </div>
                    </div>
                    {{sent}}
              </div>
            </div>
          </div>
  
          <div class="col-xl-6" >
              <div class="card" style="margin-top: 10%;">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center"  id="htmlContent1">
                        <div class="col">
                          <h5 class="h3 mb-0">Wordcloud</h5>
                        </div>
                      </div>
                      {% if wordcloud %}
                      
                      <img src='data:image/png;base64,{{ wordcloud }}' width="100%">
                    {% endif %}
                </div>
              </div>
          </div>
        </div>
  

        <!-- Tweet Table -->

        

        <div class="row">
          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <!--<h3 class="mb-0 col-lg-6 col-5 text-right">{{topic}}</h3>-->
                <div class="dropdown">
                  <form method="POST">
                    {% csrf_token %}
                  <label class="col-lg-6 col-5 text-left" style="color: #262626;margin-right: 2%;" for="Sentiment" class="h3 mb-0">Choose a Sentiment:</label>
                  <select style="margin: 3%; border-radius: 12%;" name="Sentiment" id="Sentiment" class="col-lg-6 col-5 text-left">
                    <option value="All">All</option>
                    <option value="Positive">Positive</option>
                    <option value="Negative">Negative</option>
                    <option value="Neutral">Neutral</option>
                  </select>
                  <div class="col-lg-6 col-5 text-left" style="margin-top: 10px; margin-bottom: 8px;">
                    <button id="download-button" type="submit" class="btn btn-sm btn-neutral">Apply Filter</button>
                  </div>
                </form>
                
                </div>
                
              </div>
              
              <!-- Light table -->
              <div class="table" style="width: 100%;" >
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr id="trd">
                      <th scope="col" width="10%">Screenname</th>
                      <th scope="col" width="10%">Time</th>
                      <th scope="col" width="10%">Tweet</th>
                      <th scope="col" width="10%">Users</th>
                      <th scope="col" width="10%">Hastags</th>
                      <th scope="col" width="10%">Location</th>
                      <th scope="col" width="10%">Sentiment</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for row in data %}
                    <tr id="trd"> 
                      {% for item in row %}
                      {% if forloop.first %}
                      <td style="width:10%; white-space: normal;"><a target="_blank" href="/user/{{ item }}">{{ item }}</a></td>
                      {% else %}
                      <td style="width: 10%; white-space: normal;">{{ item }}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

                  
              </div>
              <!-- Card footer -->
              
            </div>
          </div>
        </div>

               
      </div>
              
              
           
      
      
         


          

          {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script type="text/javascript">
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
     
     
    $('#generatePDF').click(function () {
        doc.fromHTML($('#htmlContent').html(), 15, 15, {
            'width': 120,
            'elementHandlers': specialElementHandlers
        });
        
        doc.save('report.pdf');
    });
    </script>

     <script>function htmlToCSV(html, filename) {
      var data = [];
      var rows = document.querySelectorAll("table tr");
          
      for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
            
        for (var j = 0; j < cols.length; j++) {
                row.push(cols[j].innerText);
            }
                
        data.push(row.join(",")); 		
      }
    
      downloadCSVFile(data.join("\n"), filename);
    }</script>

    <script>function downloadCSVFile(csv, filename) {
      var csv_file, download_link;

      csv_file = new Blob([csv], {type: "text/csv"});

      download_link = document.createElement("a");

      download_link.download = filename;

      download_link.href = window.URL.createObjectURL(csv_file);

      download_link.style.display = "none";

      document.body.appendChild(download_link);

      download_link.click();
    }</script>

    <script>document.getElementById("download-button").addEventListener("click", function () {
      var html = document.querySelector("table").outerHTML;
      htmlToCSV(html, "tweets.csv");
    });</script>

{% endblock javascripts %}
</body>
</html>
