{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BootstrapDash Comingsoon Template</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/bd-coming-soon.css' %}">
    </head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-dark bg-transparenet">
                <a class="navbar-brand" href="{% url 'main:landing-page' %}">
                    <img src="{% static 'images/logo.png' %}" alt="logo">
                </a>
                <span class="navbar-text ml-auto d-none d-sm-inline-block">026-027-031 </span>
                <span class="navbar-text d-none d-sm-inline-block">project.bravo2@gmail.com</span>
            </nav>
        </div>
    </header>
    <main class="my-auto">
        <div class="container">
            <h1 style="color: white;" class="mb-5">Search results from Twitter</h1>
            <h2>Sentiment count:</h2>
            <div class="table-responsive custom-table-responsive">
              {% if pos is 0 and neg is 0 and neu is 0 %}
              <h2 style="color: red;">No results found. Try reducing search parameters</h2>
              {% endif %}
              
              <table class="table custom-table">
                <thead>
                  <th>Positive tweets</th>
                  <th>Negative tweets</th>
                  <th>Neutral tweets</th>
                </thead>
                <tbody>
                <td>{{ pos }}</td>
                <td>{{ neg }}</td>
                <td>{{ neu }}</td>  
                </tbody>
              </table>
              <div style="display:flex;justify-content: center;">
                  {% if graph %}
                    <img src='data:image/png;base64,{{ graph }}'>
                  {% endif %}
              </div>
              <br>
              <h2>WordCloud for the Tweets:</h2>
              <div style="display:flex;justify-content: center;">
                {% if graph %}
                  <img src='data:image/png;base64,{{ wordcloud }}'>
                {% endif %}
              </div>
              
              <h2>All information:</h2>
              <div class="dropdown">
                <form method="POST">
                  {% csrf_token %}
                <label style="color: white;margin-right: 2%;" for="Sentiment">Choose a Sentiment:</label>
                <select style="margin: 3%; border-radius: 12%;" name="Sentiment" id="Sentiment">
                  <option value="All">All</option>
                  <option value="Positive">Positive</option>
                  <option value="Negative">Negative</option>
                  <option value="Neutral">Neutral</option>
                </select>
                <input style="margin: 3%; border-radius: 12%;" type="submit">
              </form>
              </div>
              
              <table class="table custom-table">
                <thead>
                  <tr>  
                    {% for header in headings %}
                    <th scope="col">{{ header }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr> 
                      {% for item in row %}
                      {% if forloop.first %}
                      <td><a target="_blank" href="/user/{{ item }}">{{ item }}</a></td>
                      {% else %}
                      <td>{{ item }}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
      
      
          </div>
    </main>
</body>
</html>