{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% load static %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Tables</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tables</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral">New</a>
          <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
      </div>
    </div>
  </div>
</div>

      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Search Results from Twitter for Topic: {{topic}}</h3>
              </div>
              <div class="table-responsive">
                {% if pos is 0 and neg is 0 and neu is 0 %}
                <h2 style="color: red;">No results found. Try reducing search parameters</h2>
                {% endif %}
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">Positive</th>
                      <th scope="col" class="sort" data-sort="budget">Negative</th>
                      <th scope="col" class="sort" data-sort="status">Neutral</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="budget">
                        {{pos}}
                      </td>
                      <td class="budget">
                        {{neg}}
                      </td>
                      <td class="budget">
                        {{neu}}
                      </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

    
      
        

        <!-- Sentiment and Wordlcoud graphs -->

        <div class="row">
          <div class="col-xl-6">
            <div class="card">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                        <h5 class="h3 mb-0">Sentiment Count</h5>
                      </div>
                    </div>
                    {% if graph %}
                    <img src='data:image/png;base64,{{ graph }}' width="100%">
                  {% endif %}
              </div>
            </div>
          </div>
  
          <div class="col-xl-6" >
              <div class="card" style="margin-top: 10%;">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                          <h5 class="h3 mb-0">Wordcloud</h5>
                        </div>
                      </div>
                      {% if graph %}
                      <img src='data:image/png;base64,{{ wordcloud }}' width="100%">
                    {% endif %}
                </div>
              </div>
          </div>
        </div>
  

        <!-- Tweet Table -->

        <div class="dropdown">
          <form method="POST">
            {% csrf_token %}
          <label style="color: white;margin-right: 2%;" for="Sentiment">Choose a Sentiment:</label>
          <select style="margin: 3%; border-radius: 12%;" name="Sentiment" id="Sentiment">
            <option value="All">All</option>
            <option value="Positive">Positive</option>
            <option value="Negative">Negative</option>
            <option value="Neutral">Neutral</option>
          </select>
          <input style="margin: 3%; border-radius: 12%;" type="submit">
        </form>
        </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0">{{topic}}</h3>
              </div>
              <!-- Light table -->
              <div class="table" style="width: 100%;">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" width="10%">Screenname</th>
                      <th scope="col" width="10%">Time</th>
                      <th scope="col" width="10%">Tweet</th>
                      <th scope="col" width="10%">Users</th>
                      <th scope="col" width="10%">Hastags</th>
                      <th scope="col" width="10%">Location</th>
                      <th scope="col" width="10%">Sentiment</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for row in data %}
                    <tr> 
                      {% for item in row %}
                      {% if forloop.first %}
                      <td style="width:10%; white-space: normal;"><a target="_blank" href="/user/{{ item }}">{{ item }}</a></td>
                      {% else %}
                      <td style="width: 10%; white-space: normal;">{{ item }}</td>
                      {% endif %}
                      {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

                  
              </div>
              <!-- Card footer -->
              
            </div>
          </div>
        </div>

               
      </div>
              
              
           
      
      
         


          

          {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
</body>
</html>
