{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Hashtag Recommendations</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Hashtag Recommendations</li>
                </ol>
              </nav>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Twitter Content</h6>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <form class=" navbar-search-light form-inline mr-sm-3" id="navbar-search-main" method="POST">
                {% csrf_token %}
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Enter the content" type="text" name="content">
                    <input class="form-control" type="submit" name="submit">
                  </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"    >
                  <span aria-hidden="false">×</span>
                </button>
              </form>
              <br>
              <h6 class="h4 text-white d-inline-block mb-0">You can enter the topic of your tweet or the tweet itself to generate relevant hashtags!</h6>
            </div>
            
          </div>
          
          
          </div>
 

          
          
         
         
          
          












        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">What is </h6>
                  <h5 class="h3 mb-0">How do Hashtags Help?</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              Posts with hashtags get twice as much engagement as posts without hashtags, according to Buffer. Tweets with two hashtags get the highest engagement, and engagement falls as the number of hashtags increase.
            </div>
          </div>
    
        </div>
        
        
      </div>
      
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Trending Topics in India Right Now:</h3>
            </div>
            <!-- Light table -->
            <div class="table" style="width: 100%;">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" width="10%">Hashtags</th>
                    <th scope="col" width="10%">Tweet Count</th>
                  </tr>
                </thead>

                <tbody>
                  {% for row in data %}
                  <tr> 
                    {% for item in row %}
                    {% if forloop.first %}
                    <td style="width:10%; white-space: normal;"><a target="_blank" url="www.twitter.com/{{ item }}">{{ item }}</a></td>
                    {% else %}
                    <td style="width: 10%; white-space: normal;">{{ item }}</td>
                    {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>

                
            </div>
            <!-- Card footer -->
            
          </div>
        </div>
      </div>

      
    

    </div>  
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
