{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6" >
      
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">User Compare Summary</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Compare</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{% url 'main:user-comp' %}" class="btn btn-sm btn-neutral">New Query</a>
              <a href="#" class="btn btn-sm btn-neutral" id="generatePDF">Download Report</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row" id="htmlContent">
            <div style=" display: none;">
              <h1>Competetive User Summary</h1>
              <h2>Users to be compared:</h2>
              <p>{{uid}}</p>
              <br>
              <p>This report will help you to determine your brands position in its industry 
                <br>and check out how much you contribute to the conversation in your market 
                <br>in comparison to your competitors.</p>
              
              <p>
                Note: Influence score is calculated using 2 metrics 
                <ol>
                  <li>Popularity Score</li>
                  <li>Reach Score</li>
                
                </ol>
                  The above scores are combined using fuzzy rules to get the final influence.<br>
              </p>  
              <h2>Competetive Analysis Output:</h2>
            </div>
            
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Highest tweet count</h5>
                      <span class="h2 font-weight-bold mb-0">{{tname}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{tcount}}</span>
                    <span class="text-nowrap">is the highest tweet count</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Maximum Followers</h5>
                      <span class="h2 font-weight-bold mb-0">{{fname}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{fcount}}</span>
                    <span class="text-nowrap">is the highest follower count</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Highest Likes count</h5>
                      <span class="h2 font-weight-bold mb-0">{{lname}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{lcount}}</span>
                    <span class="text-nowrap">is the highest likes count</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Influence</h5>
                      <span class="h2 font-weight-bold mb-0">{{iname}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{icount}}</span>
                    <span class="text-nowrap">is the highest influence score</span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">

        <div class="col-xl-6">
          <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                      <h5 class="h3 mb-0">Popularity Score</h5>
                    </div>
                  </div>
              {{pop}}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                        <h5 class="h3 mb-0">Reach Score</h5>
                      </div>
                    </div>
                {{reach}}
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                      <h5 class="h3 mb-0">Influence Score</h5>
                    </div>
                  </div>
              {{inf}}
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xl-6">
          <div class="card">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                      <h5 class="h3 mb-0">Followers Distribution</h5>
                    </div>
                  </div>
              {{followers}}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
            <div class="card">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                        <h5 class="h3 mb-0">Likes</h5>
                      </div>
                    </div>
                {{likes}}
              </div>
            </div>
        </div>
      </div>

      

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script type="text/javascript">
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
     
     
    $('#generatePDF').click(function () {
        doc.fromHTML($('#htmlContent').html(), 15, 15, {
            'width': 700,
            'elementHandlers': specialElementHandlers
        });
        doc.save('report.pdf');
    });
    </script>

{% endblock javascripts %}
